/* Standard CSS Resets */
* { -moz-box-sizing: border-box; box-sizing: border-box; margin: 0; padding: 0; }
ul { padding-left: 1.5em; }
a img { border: 0 none; }
/* Basic Page CSS */
a:link, a:visited { color: #0000ff; text-decoration: none; }
a:link:hover, a:link:active, a:visited:hover, a:visited:active { color: #0000ff; text-decoration: underline; }
a[href^="http"]:link, a[href^="http"]:visited {
	text-decoration: underline;
	-webkit-text-decoration-line: underline; -moz-text-decoration-line: underline; text-decoration-line: underline;
	-webkit-text-decoration-style: dashed; -moz-text-decoration-style: dashed; text-decoration-style: dashed;
	color: #88aaff;
}
a[href^="http"]:link::after,  a[href^="http"]:visited::after {
	display: inline; content: '\279a';
}
p { text-indent: 2em; margin-bottom: 1em; }
q { quotes: '\201c' '\201d' '\2019' '\2020'; }
:root {
	font-family: 'Trebuchet MS', 'Droid Sans', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 12pt;
}
body {
	position: relative;
	min-height: 100vh;
	background-color: #f0f0f0;
}
body::after {
	display: block; content: ''; height: 2rem;
}
body > * {
	background-color: white;
}
body > header {
	width: 100%; padding: 5px 10px;
	border-bottom: 1px solid black;
	background-color: #90b3f2;
	text-align: center;
}
body > header h1 { color: black; text-decoration: none; float: left; }
body > header::after { display: block; content: ''; float: none; clear: both; }
body > header h3 { line-height: 2.5rem; }
body > aside {
	border-left: 1px solid black; border-bottom: 1px solid black;
	float: right;
}
body > footer {
	width: 100%; padding-left: 1em; padding-right: 1em;
	line-height: 2rem;
	position: absolute; bottom: 0;
	border-top: 1px solid black;
	clear: both;
}
body > footer > small {
	white-space: nowrap; float: right; text-align: center;
}

/* Site Navigation */
body > nav {
	border-right: 1px solid black; border-bottom: 1px solid black;
	float: left; max-width: 20vw;
}
body > nav h1 {
	display: none;
}
body > nav a {
	display: block;
	padding: 2px 5px;
}
body > nav a:hover {
	background-color: lightpink;
}

/* Main Content */
main {
	max-width: 80vw;
	min-height: 100vh;
	margin: 0 auto;
	border-right: 1px solid black;
	border-left: 1px solid black;
	padding: 2px 5px 1em;
	overflow-x: auto;
}
main::first-line {
	font-weight: bold; font-size: larger; font-variant: small-caps;
}
main > section:not(:first-child) {
	margin-top: 1em;
}
main > a {
	display: block; text-align: center; font-size: smaller;
	max-width: -webkit-fit-content; max-width: -moz-fit-content; max-width: fit-content;
	margin: 0 auto;
}
main > article {
	padding-top: 1rem; border-top: 1px solid black; margin: 1rem;
}
main > article > h1 {
	font-size: 2rem;
	text-align: center;
}
main > article > h2 {
	font-size: 1.5rem;
}
