<!DOCTYPE html>
<html>
<head>
<title>{{ site.title }} &mdash; {{ page.title }}</title>
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1" />
<meta name="msvalidate.01" content="0D16ACC1792BF537CCCE7A7F6499330F" />
<meta http-equiv="Content-type" content="text/html; charset=utf8" />
<meta charset="utf8" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
{% comment %}
<link rel="alternate" href="/feed.xml" type="application/xml+rss" />
{% endcomment %}
<link rel="stylesheet" href="/css/default.css" />
</head>
<body>
<header>
	<a href="/"><h1>{{site.title}}</h1></a>
	<h3>{{ page.title }}</h3>
</header>
{% comment %}
<nav>
	<h1>CSS Guru Navigation</h1>
	{% for cat in site.categories %}
		<h2>{{ forloop.index }}</h2>
		<ul>
		{% for post in cat %}
			<li><a href="{{ post.url }}">{{ post.title }}</a></li>
		{% endfor %}
		</ul>
	{% endfor %}
	<h2>Build for All Media</h2>
	<ul>
		<li><a>Responsive Design</a></li>
		<li><a>In Print</a></li>
		<li><a>Viewport</a></li>
		<li><a>Font Sizes</a></li>
	</ul>
	<h2>Upgrade</h2>
	<ul>
		<li>Flexbox Design</li>
		<li>Fit Content</li>
	</ul>
</nav>
{% endcomment %}
<main>
{{ content }}
</main>
<footer>
	{% unless page.url contains '/about' %}
	<a href="/about">About Me</a>
	{% endunless %}
	<small>{{ site.copyright }}<br/>
		<a href="http://creativecommons.org/licenses/by/4.0/"><img src="http://i.creativecommons.org/l/by/3.0/88x31.png" alt="CC BY 4.0"/></a>
	</small>
</footer>
</body>
</html>
