<!DOCTYPE html>
<html lang="en">
<head>
{% if page.title %}
<title>{{ page.title }} &mdash; {{ site.title }}</title>
{% else %}
<title>{{ site.title }}</title>
{% endif %}
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1" />
<meta name="msvalidate.01" content="0D16ACC1792BF537CCCE7A7F6499330F" />
<meta charset="utf-8" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
{% comment %}
<link rel="alternate" href="/feed.xml" type="application/xml+rss" />
{% endcomment %}
<link rel="stylesheet" href="/css/default.css" />
</head>
<body>
<header>
	<a href="/"><h1>{{site.title}}</h1></a>
	{% if page.title %}
	<h3>{{ page.title }}</h3>
	{% endif %}
</header>
<nav>
	<h1>CSS Guru Navigation</h1>
	<a href="/">Home</a>
	{% for post in site.posts %}
	<a href="/{{post.permalink}}">{{ post.title }}</a>
	{% endfor %}
</nav>
<main>
	{{ content }}
</main>
<footer>
	<small>{{ site.copyright }}</small>
</footer>
</body>
</html>
